@import "tailwindcss";
/* @import "tw-animate-css"; */
/* Apply black background to the whole page */
body {
  background-color: black;
  color: white; /* optional, to make text visible */
  margin: 0; /* remove default spacing */
  min-height: 100vh; /* ensure it covers full height */
}
