@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import "tailwindcss";

/* @import "tw-animate-css"; */
/* Apply black background to the whole page */
body {
  background-color: black;
  color: white; /* optional, to make text visible */
  margin: 0; /* remove default spacing */
  min-height: 100vh; /* ensure it covers full height */
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}
